body {
  margin: 0;
  background-color: #fffcf2;
  font-family: "Trebuchet MS";
}

.navigation_bar,
.intro,
.aboutMe,
.skills_section,
.portfolio_section {
  margin: 10px;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  font-family: "Lucida Console";
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul {
  list-style-type: circle;
  margin-bottom: 1em;
  margin-right: 1em;
}

hr {
  display: flex;
  height: 1px;
  width: 5em;
  border: 0;
  border-top: 3px solid #d16014;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.navigation_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation_bar-title {
  font-size: 30px;
  font-weight: bold;
}
.navigation_bar-links {
  flex-direction: row;
  margin: 0px 30px;
}
@media only screen and (max-width: 640px) {
  .navigation_bar-links {
    opacity: 0;
    margin: 0;
    font-size: 0px;
  }
}
.navigation_bar-firstname {
  color: #857885;
}
.navigation_bar-lastname {
  color: #553d36;
}

.intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
}
.intro_para {
  text-align: center;
  margin: 0 10vw;
  width: 550px;
}
@media only screen and (max-width: 640px) {
  .intro_para {
    width: 80vw;
  }
}

.aboutMe {
  display: block;
}
.aboutMe img {
  width: 20vw;
  height: 25vw;
  float: right;
}
@media only screen and (max-width: 640px) {
  .aboutMe img {
    width: 40vw;
    height: 50vw;
    float: none;
  }
}
.aboutMe_content {
  align-content: space-evenly;
}
.aboutMe_content-para {
  text-align: center;
  padding: 10px;
  width: 75vw;
}
@media only screen and (max-width: 640px) {
  .aboutMe_content-para {
    width: 90vw;
  }
}
.aboutMe_content-list {
  font-size: smaller;
}

.skills_section img {
  width: 10vh;
  height: 10vh;
}
.skills_section--icons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .skills_section--icons {
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 10px;
  }
}
.skills_section--icons div {
  margin-bottom: 20px;
}
@media only screen and (max-width: 640px) {
  .skills_section--icons div {
    flex-direction: column;
    font-size: 40px;
    justify-content: normal;
  }
  .skills_section--icons div img {
    width: 20vh;
    height: 20vh;
  }
}

.portfolio_section img {
  width: 30vh;
  height: 23vh;
}
.portfolio_section--row {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .portfolio_section--row {
    display: grid;
    grid-template-columns: auto;
  }
}
.portfolio_section--row div .eyeIcon {
  width: 25px;
  height: 25px;
  background-color: #101935;
  border-radius: 100%;
}
@media only screen and (max-width: 640px) {
  .portfolio_section--row div {
    flex-direction: column;
    font-size: 20px;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  .portfolio_section--row div img {
    width: 38vh;
    height: 30vh;
  }
}

.contactMe {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  background-color: black;
  padding: 1em;
  display: block;
  text-align: center;
  margin-top: 3em;
}
@media only screen and (max-width: 640px) {
  footer {
    margin-top: 0;
  }
}

.footer_links {
  display: flex;
  margin: 0px 5em;
  justify-content: space-around;
}
.footer_links img {
  width: 7vh;
  height: 7vh;
  margin: 2px;
  border-radius: 100%;
}
